/* 覆盖Vue Flow默认节点样式 */
.vue-flow__node {
  padding: 0 !important;
  border-radius: 0 !important;
  width: auto !important;
  height: auto !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

.vue-flow__node.selected {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

/* 确保节点内容不受影响 */
.vue-flow__node-custom {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
